# PostgreSQL Database Configuration
POSTGRES_HOST=localhost
POSTGRES_USER=lmafra
POSTGRES_PASSWORD=password
POSTGRES_DB=pickup_game_manager_development

# Test Database
POSTGRES_TEST_DB=pickup_game_manager_test

# Rails Environment
RAILS_ENV=development
