version: "3.9"

services:
  db:
    image: postgres:16
    container_name: pg-pgm
    restart: unless-stopped
    environment:
      POSTGRES_USER: lmafra
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pickup_game_manager_development
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    image: pickup_game_manager:dev
    container_name: pgm-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      RAILS_ENV: development
      RAILS_LOG_LEVEL: debug
      POSTGRES_HOST: db
      POSTGRES_USER: lmafra
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pickup_game_manager_development
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:80"
    volumes:
      - rails_storage:/rails/storage

volumes:
  pgdata:
  rails_storage:


